<div class="row-auto">
    <p class="text-center ">
      <small>
        © {{anno.getFullYear()}}.
        <a href="http://www.lasistemas.com" target="_blank" rel="noopener noreferrer" class="text-secondary"><b>LA Sistemas s.a.</b></a>
        <span class="pl-2" traductorLA>Todos los Derechos Reservados.</span>
      </small>
  
      <a href="https://www.facebook.com/L.A.Sitemas/" target="_blank" rel="noopener noreferrer" class="text-secondary ml-3">
        <i class="fab fa-facebook"></i>
      </a>
  
      <a href="https://www.instagram.com/l.a.sistemas/" target="_blank" rel="noopener noreferrer" class="text-secondary ml-2">
        <i class="fab fa-instagram"></i>
      </a>
  
      <a href="https://www.linkedin.com/company/la-sistemas-sa/" target="_blank" rel="noopener noreferrer" class="text-secondary ml-2">
        <i class="fab fa-linkedin"></i>
      </a>
  
      <a href="https://www.youtube.com/channel/UCRq0xpMjtuglsph_xEURfcQ" target="_blank" rel="noopener noreferrer" class="text-secondary ml-2">
        <i class="fab fa-youtube"></i>
      </a>
    </p>
  
  </div>
